
<div class="container">
    
      <form #addForm="ngForm" (ngSubmit)="addProduct(addForm.value)">
        <label for="name">name</label>
          <input ngModel required type="text" class="form-control" id="name" name="name">
        <label for="Description">Description</label>
          <input ngModel required type="text" class="form-control" id="Description" name="Description">
        <label for="Thumbnail">Thumbnail</label>
          <input ngModel required type="text" class="form-control" id="Thumbnail" name="Thumbnail">
       
        <label for="Price">Price</label>
          <input ngModel required type="number" class="form-control" id="Price" name="Price">
        <label for="DescountedPrice">DescountedPrice</label>
          <input ngModel required type="number" class="form-control" id="DescountedPrice" name="DescountedPrice">
        <label for="ProductCount">ProductCount</label>
          <input ngModel required type="number" class="form-control" id="ProductCount" name="ProductCount">
            <br>
            <hr>      
            <br>
        <label for="Color">Color</label>
          <select class="form-control" [(ngModel)]="selectedColor"  id="Color" name="Color">
              <option *ngFor="let item of listOfColors" [value]="item">{{item}}</option>
            </select>
              
        <label for="Size">Size</label>
          <select class="form-control" [(ngModel)]="selectedSize" id="Size" name="Size">
            <option *ngFor="let item of listOfSizes" [value]="item">{{item}}</option>
          </select>
              <br>
              <hr>
              <br>
        <label for="category">category</label>
          <select class="form-control" [(ngModel)]="selectedCategory" id="category"  name="category" >
            <option *ngFor="let item of listCategory" [value]="item">{{item}}</option>
          </select>
              <br>     
              <hr> 
              <br>
                    
                
        <label for="path">URL de PrimaryImage</label>
          <input ngModel  type="text" class="form-control" id="path" name="path">
        <label for="path2">URL de SecondaryImage</label>
          <input ngModel  type="text" class="form-control" id="path2" name="path2">
          <br>
          <div class="alert alert-info" *ngIf="erreur">
            Sorry ! we can't add this product
          </div>
          <br>
        <div class="quickview-plus-minus">   
          <div class="quickview-btn-cart">
            <button [disabled]="addForm.invalid"  class="btn-style cr-btn"><span>add new product</span></button>
          </div>
        </div>
         
      </form>
  </div>
