
<app-slide></app-slide>

<div class="overview-area pt-135">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <div class="overview-content">
                  <h1><span>WE_SHOP_UP</span> WORLD MOST </h1>
                  <h2>LATGEST <span>T_SHIRT STORE</span></h2>
                  <p><span>WE_SHOP_UP</span> the most latgest T-SHIRT store in the world can serve you latest            quality of t-shirts and blasers also you can profit here whith special and fashionable designs </p>
                  <div class="question-area">
                      <h4>HAVE ANY QUESTION? </h4>
                      <div class="question-contact">
                          <div class="question-icon">
                              <i class="icofont icofont-phone"></i>
                          </div>
                          <div class="question-content-number">
                              <h6> +216 93548789</h6>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
              <div class="overview-img">
                  <img class="tilter" src="assets/assets/img/banner/covit9.png" alt="">
              </div>
          </div>
      </div>
  </div>
</div>
<div class="banner-area pt-135 pb-120">
  <div class="container">
      <div class="row">
          <div class="col-md-4 col-lg-4">
              <div class="banner-wrapper mb-30">
                <a class="nav-link" routerLink="/register" ><img src="assets/assets/img/banner/essa1.jpg"  alt="image"></a>
                  <div class="banner-content">
                      <h2>ON SALE 70%</h2>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-lg-4" >
              <div class="banner-wrapper mb-30 " >
                <a class="nav-link" routerLink="/register" ><img src="assets/assets/img/banner/ess.jpg  "  alt="image"></a>
                  <div class="banner-content">
                      <h2>EID-FITR EDDITION</h2>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-lg-4">
              <div class="banner-wrapper mb-30">
                <a class="nav-link" routerLink="/register" ><img src="assets/assets/img/banner/essa2.jpg" alt="image"></a>
                  <div class="banner-content">
                      <h2>SPECIAL EDITIONS</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="product-area pb-190">
  <div class="container">
      <div class="section-title text-center mb-50">
          <h2>CHOOSE YOUR DESIGNED T-SHIRT</h2>
          <p><span>WE-SHOP_UP</span> the most latgest T-SHIRT store in the world can serve you latest            quality of t-shirts and blasers also you can profit here whith special and fashionable designs</p>
      </div>
      <div class="product-tab-list text-center mb-80 nav product-menu-mrg" role="tablist">
          <a class="active" href="#home1" data-toggle="tab" >
              <h4>NEW ARTICLES </h4>
          </a>
          <a href="#home2" data-toggle="tab">
              <h4> DISCOVER LATES FASHION</h4>
          </a>
      </div>




                  </div>









