<div class="shopping-cart-content" style="display: block;">
    <ul>
        <li class="single-shopping-cart">
            <div class="shopping-cart-img">
                <!-- <a href="#"><img alt="" src="assets/img/cart/cart-1.jpg"></a> -->
                <a href="#"><img alt="" src="assets/images/blog_single_background.jpg"></a>
                
            </div>
            <div class="shopping-cart-title">
                <h3><a href="#">Gloriori GSX 250 R </a></h3>
                <span>Price: $275</span>
                <span>Qty: 01</span>
            </div>
            <div class="shopping-cart-delete">
                <a href="#"><i class="icofont icofont-ui-delete"></i></a>
            </div>
        </li>
       
    </ul>
    <div class="shopping-cart-total">
        <h4>total: <span>$550.00</span></h4>
    </div>
    <div class="shopping-cart-btn">
        <a class="btn-style cr-btn" href="#">checkout</a>
    </div>
</div>
