
  <section class="section section-shaped section-lg">

    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card ">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Sign in with</small>
              </div>

              <div class="btn-wrapper text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">

                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">

                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign in with credentials</small>
              </div>
              <form #f="ngForm" >

                            <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                              <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <!--   <input type="text" class="form-control rounded-0" [(ngModel)]="loginUserData.email" name="email" required> -->
                                <!--   svp pourquoi si je fait tow way baiding ne marche pas  [(ngModel)]="loginUserData.email" name="email" required> -->
                                <input ngModel #log="ngModel" required email type="text" class="form-control" id="login" name="login"   (focus)="focus=true" (blur)="focus=false">
                                <br><br>
                                <div class="alert alert-danger" *ngIf="log.invalid && log.dirty">Login must be an email</div>




                              </div>
                            </div>
                            <div class="form-group" [ngClass]="{'focused':focus1===true}">
                              <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>

                                <input ngModel name="password" #password="ngModel" type="password" class="form-control" placeholder="Password"
                                required minlength="6" (focus)="focus1=true" (blur)="focus1=false">
                                <br> <br>
                                <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                                  <p *ngIf="password.errors.required">Password is required</p>
                                  <p *ngIf="password.errors.minlength">must be at least 8 characters</p>

                              </div>

                              </div>
                            </div>
                            <div class="custom-control custom-control-alternative custom-checkbox">
                              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                              <label class="custom-control-label" for=" customCheckLogin">
                                <span>Remember me</span>
                              </label>
                            </div>
                            <div class="text-center">


                              <button type="button" class="btn btn-primary my-4" (click)= "loginUser(f)" >login</button>
                            </div>
                          </form>
                          <br>
              <div class="alert alert-danger" *ngIf="loginError">
                {{ loginError }}
              </div>
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-6">
                          <a href="javascript:void(0)" class="text-light">
                            <small>Forgot password?</small>
                          </a>
                        </div>
                        <div class="col-6 text-right">
                          <a href="javascript:void(0)" class="text-light">
                            <small>Create new account</small>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

