
<div class="table-title col-sm-6 col-md-12">
    <div class="row">
        <div class="col-sm-6">
  <h2>Manage <b>Product's information </b> </h2> 
  </div>
  <div class="d-flex justify-content-end col-sm-6">
  <button (click)="ShowProductForm()"  class="btn btn-success" data-toggle="modal"> <i class="fa fa-plus-square  material-icons"></i> <span> Add New Product</span></button>
  <!-- <button  class="btn btn-danger" data-toggle="modal"><i class="fa fa-trash material-icons"></i> <span> Delete</span></button>						 -->
  </div>
    </div>
  </div>
  <table class="table table-striped col-sm-6 col-md-12">
      <thead>
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">category</th>
        <th scope="col">Price</th>
        <th scope="col">Size</th>
        <th scope="col">Color</th>
        <th scope="col">discount Price</th>      
        <th scope="col">Quantity</th>
        <th scope="col">Image</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
       
          <td scope="row" >{{ product.name }}</td>
          <td scope="row" >{{ product.Description }}</td>
          <td scope="row" >{{ product.category.category_name }}</td>
          <td scope="row" >{{ product.Price }}</td>
          <td scope="row" >{{ product.Size }}</td>
          <td scope="row" >{{ product.Color }}</td>
          <td scope="row" >{{ product.DescountedPrice }}</td>
          <td scope="row" >{{ product.ProductCount }}</td>
          <td scope="row" > {{ product.PrimaryImage }}</td>
       
     
  
        <td>
          <a class="edit" data-toggle="modal" (click)="editProduct(product._id)">
            <i  style="color:#FFC107; "class="fa fa-pencil material-icons" ></i></a>
            
          <a class="delete" data-toggle="modal" (click)="delete(product._id)" >
            <i style="color:red; margin-left:20px;" class="fa fa-trash material-icons"></i></a>
      </td>
      </tr>
      </tbody>
    </table>
    
    <div class="d-flex justify-content-between p-2 col-sm-6 col-md-12">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>
    
      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
        <option [ngValue]="14">14 items per page</option>
        <option [ngValue]="20">20 items per page</option>
      </select>
    </div>