<div class="col-lg-6">
  <div class="product-details-content">
      <h2>Klager GSX 250 R</h2>
      <div class="quick-view-rating">
          <i class="fa fa-star reting-color"></i>
          <i class="fa fa-star reting-color"></i>
          <i class="fa fa-star reting-color"></i>
          <i class="fa fa-star reting-color"></i>
          <i class="fa fa-star reting-color"></i>
          <span> ( 01 Customer Review )</span>
      </div>
      <div class="product-price">
          <span>$2549</span>
      </div>
      <div class="product-overview">
          <h5 class="pd-sub-title">Product Overview</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipic it, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita tion ullamco laboris nisi ut aliquip ex ea commodo.</p>
      </div>
      <div class="product-color">
          <h5 class="pd-sub-title">Product color</h5>
          <ul>
              <li class="red">b</li>
              <li class="pink">p</li>
              <li class="blue">b</li>
              <li class="sky2">b</li>
              <li class="green">y</li>
              <li class="purple2">g</li>
          </ul>
      </div>
      <div class="quickview-plus-minus">
          <div class="cart-plus-minus">
              <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
          </div>
          <div class="quickview-btn-cart">
              <a class="btn-style cr-btn" href="#"><span>add to cart</span></a>
          </div>
          <div class="quickview-btn-wishlist">
              <a class="btn-hover cr-btn" href="#"><span><i class="icofont icofont-heart-alt"></i></span></a>
          </div>
      </div>
      <div class="pro__dtl__size">
        <h2 class="title__5">Size</h2>
        <ul class="pro__choose__size">
            <li><a href="#">xl</a></li>
            <li><a href="#">m</a></li>
            <li><a href="#">ml</a></li>
            <li><a href="#">lm</a></li>
            <li><a href="#">xxl</a></li>
        </ul>
    </div>
      <div class="product-share">
          <h5 class="pd-sub-title">Share</h5>
          <ul>
              <li>
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
              </li>
              <li>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
              </li>
              <li>
                  <a href="#"><i class="icofont icofont-social-pinterest"></i></a>
              </li>
              <li>
                  <a href="#"> <i class="icofont icofont-social-instagram"></i></a>
              </li>
          </ul>
      </div>
  </div>
</div>
